
footer {
    background-color: #111; 
    color: white;
    padding: 40px 20px;
  }
  
 .logo-img {
  height: 60px; 
  object-fit: contain;
}
  
  .logo-text {
    font-size: 18px;
    font-weight: 700;
    color: #ff7b00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  /* Tablet: Hiển thị 3 cột */
@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile: Hiển thị 1 cột */
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
  
  .footer-container div {
    padding: 10px;
  }
  

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-logo div {
    background-color: #f97316; 
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .footer-container h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  .footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-container ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-container ul li a:hover {
    color: white;
    text-decoration: underline;
  }
  

  .footer-social {
    margin-top: 30px;
    text-align: center;
  }
  
  .footer-social svg {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-social .youtube:hover {
    color: red;
  }
  
  .footer-social .facebook:hover {
    color: #1877F2;
  }
  
  .footer-social .tiktok:hover {
    color: white;
  }
  

  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
  