.overview-content {
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 90%;
    padding: 16px;
    overflow-x: hidden;

}

.ov-title-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4vw 0 1vw 5vw
}

.ov-title-container h1 {
    font-size: calc(10px + 2vw);
    color: #242424;
}